

<h1>Dragon Ball Z</h1>
<hr>


<div class="row">
        <div class="col">
            <h3>Personajes</h3>
            <hr>
            <ul>          
                <li>Krillin - 700</li>
                <li>Goku - 15,000</li>
                <li>Vegeta - 8,500</li>
            </ul>

        </div>

        <div class="col">
            <h3>Agregar <small> {{ nuevo.nombre }} </small> </h3>
            <hr>

            <form (ngSubmit)="agregar()">
                <input 
                    type="text" 
                    placeholder="Nombre" 
                    name="nombre"
                    [(ngModel)]="nuevo.nombre"              
                />
                <!-- 
                [value]="nuevo.nombre"
                (input)="cambiarNombre ( $event )"
                 // simplificado con el "ngModule"  //
                 -->

                <input 
                    type="number" 
                    placeholder="Poder" 
                    name="poder"
                    [(ngModel)]="nuevo.poder" 
                />
            </form>

        
            <button type="submit">
                Agregar
            </button>


        </div>

</div>