<p>Listado de Heroes </p>

<div *ngIf="heroeBorrado; else noBorrado ">
    <h3>Heroe borrado: <small>  {{ heroeBorrado }} </small></h3>  
</div>

<ng-template #noBorrado>No ha borrado nada.</ng-template>


<button (click)="borrarHeroe()">
    Borrar
</button>


<ul>
    <li *ngFor="let heroe of heroes; let i = index">
        {{ i + 1 }} - {{ heroe }}
    </li>

    <!-- <li> {{ heroes[0] }} </li>
    <li> {{ heroes[1] }} </li>
    <li> {{ heroes[2] }} </li>
    <li> {{ heroes[3] }} </li> -->
   
</ul>